BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: "Never"
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: 'Yes'
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
BreakBeforeBinaryOperators: All
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 8
IndentWidth: 4
Language: Cpp
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: "Never"
FixNamespaceComments: true